:root {
  --text-primary: #5F5E5E;
  --primary: #a3dcfa;
  --accent: #312ba7;
  --link: #7b61ff;

  --error: #f14747;
  --light-background: rgba(163, 220, 250, 0.15);
  --medium-background: rgba(163, 220, 250, 0.3);
  --dark-background:rgba(163, 220, 250, 0.07);
  --toolbar: #302D52;
}
