
.textInput {
	background: rgba(255, 255, 255, 0.51);
	border-radius: 11.4247px;
	resize: none;
	font-family: inherit;
	font-size: 20px;;

	text-align:left;
	justify-content:center;
	padding: 1rem;
	border: none;
	width: 100%;
	text-align-last: center;
}

.inputDiv {
	width: 20%;
	display:flex;
	justify-content:center;
}