
.header {


	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 10vh;
	justify-content:center;
	align-items:center;
	border-bottom: 2px solid #A09A9A;
	width: 90vw;

	&__logos {

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 100%;


	}

	&__logoImage {
			height:  20px;
			margin: 2rem;
		}

}


	


